@{
    ViewData["Title"] = "Админ Панел";
}

<h2 class="mb-4">Админ панел</h2>

<div class="list-group">
    <a href="/Admin/AllRentals" class="list-group-item list-group-item-action">🟡 Всички наеми</a>
    <a href="/Admin/AllOrders" class="list-group-item list-group-item-action">🟢 Всички поръчки</a>
    <a href="/Admin/Users" class="list-group-item list-group-item-action">🔵 Управление на потребители</a>
    <a href="/Bicycle/Manage" class="list-group-item list-group-item-action">⚙️ Управление на велосипеди</a>
</div>

