@{
    ViewData["Title"] = "Поръчка приета";
}

<div class="text-center p-5">
    <h2 class="text-success mb-4">✅ Успешна поръчка!</h2>
    <p>Благодарим ви за доверието. Ще се свържем с вас при нужда за потвърждение на доставката.</p>

    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">
        <i class="bi bi-arrow-left"></i> Обратно към началната страница
    </a>

</div>
