@model BikeShop.Web.Models.Bicycle

@{
    ViewData["Title"] = "Добавяне на велосипед";
}

<h2>Добавяне на велосипед</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
   
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Brand" class="form-label">Бранд</label>
        <select asp-for="Brand" class="form-select">
            <option value="">-- Избери бранд --</option>
            <option value="DRAG">DRAG</option>
            <option value="NS BIKES">NS BIKES</option>
            <option value="SPECIALIZED">SPECIALIZED</option>
            <option value="YT INDUSTRIES">YT INDUSTRIES</option>
        </select>
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Category" class="form-label">Категория</label>
        <select asp-for="Category" class="form-select" asp-items="Html.GetEnumSelectList<BicycleCategory>()">
            <option value="">-- Избери категория --</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FrameSize" class="form-label">Размер на рамката</label>
        <select asp-for="FrameSize" class="form-select">
            <option value="">-- Избери размер --</option>
            <option value="XS">XS</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
        </select>
        <span asp-validation-for="FrameSize" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Type" class="form-label"></label>
        <select asp-for="Type" class="form-select">
            <option value="0">ForRent</option>
            <option value="1">ForSale</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ImageFile" class="control-label">Качи снимка</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>


    <div class="form-check mb-3">
        <input asp-for="IsAvailable" class="form-check-input" />
        <label asp-for="IsAvailable" class="form-check-label"></label>
    </div>

    <div class="mb-3">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control" type="number" min="0" />
        <span asp-validation-for="Quantity" class="text-danger"></span>

    </div>
    


    <button type="submit" class="btn btn-success">Добави</button>
    <a asp-action="Manage" class="btn btn-secondary">Отказ</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
